name: Test

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: 1.21.3

      - name: Install Dependencies
        run: go get -v -t ./...
        
      - name: Test
        run: go test -v ./...
